@import url("/css/reset.css");
@import url("/css/variables.css");

h1 {
    margin-top: 20px;
    margin-bottom: -20px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 0;
}

#contact-button {
    margin-top: 30px;
}

@media (min-width: 850px) {
    main {
        max-width: 800px;
    }
}